
process {
  publishDir = [path: "results", mode: 'copy']
  queueSize = 2
}

manifest {
  defaultBranch = 'main'
  name = 'incertae-sedis/cavatica'
  homePage = 'https://github.com/incertae-sedis/cavatica'
  description = 'Nextflow implementation of the Cavatica pipeline'
  mainScript = 'main.nf'
  version = '1.0.0'
}