params {

    // List of terms
    config = false

    // Pass in the term
    term = false

    // Run all pubmed and pubmed central queries
    all = false

    // Only run one or the other
    pubmed = params.all
    pmc = params.all

    // Other params
    outdir = "results"
    help = false
}


process {
  publishDir = [path: params.outdir, mode: 'copy']
  queueSize = 2
}

manifest {
  defaultBranch = 'main'
  name = 'incertae-sedis/cavatica'
  homePage = 'https://github.com/incertae-sedis/cavatica'
  description = 'Nextflow implementation of the Cavatica pipeline'
  mainScript = 'main.nf'
  version = '1.0.0'
}